@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="header bg-primary">
    <div class="container-fluid">
        <div class="header-body">
            <div class="row align-items-center py-4">
                <div class="col-lg-6 col-7">
                    @*<h6 class="h2 text-white d-inline-block mb-0">Add Category</h6>*@
                    <nav aria-label="breadcrumb" class="d-none d-md-inline-block ml-md-4">
                        <ol class="breadcrumb breadcrumb-links breadcrumb-dark">
                            <li class="breadcrumb-item"><a href="#"><i class="fas fa-home"></i></a></li>
                            <li class="breadcrumb-item"><a>Master</a></li>
                            <li class="breadcrumb-item"><a asp-controller="Category" asp-action="Index">Category</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Add Category</li>
                        </ol>
                    </nav>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid" style="margin-top:16px">
    <div class="row">
        <div class="col-xl-12">
            <div class="card">
                <div class="card-header">
                    <div class="row align-items-center">
                        <div class="col-8">
                            <h3 class="mb-0">Add Category </h3>
                        </div>
                        <div class="col-4 text-right">
                            <a asp-controller="Category" asp-action="Index">Back To Index</a>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <form id="CategoryForm" >
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="pl-lg-4">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-username">Username <span class="error">*</span> </label>
                                        <input type="text" id="input-username" name="username" data-val-required="true" data-msg-required="Username is required" required title="Username is required"  class="form-control" placeholder="Username" autocomplete="off">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-email">Email address</label>
                                        <input type="email" id="input-email" class="form-control" placeholder="jesse@example.com">
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-first-name">First name</label>
                                        <input type="text" id="input-first-name" class="form-control" placeholder="First name" value="Lucky">
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group">
                                        <label class="form-control-label" for="input-last-name">Last name</label>
                                        <input type="text" id="input-last-name" class="form-control" placeholder="Last name" value="Jesse" required title="Las ty">
                                    </div>
                                </div>
                            </div>
                            <div class="row" style="float:right">
                                <input type="button" value="Submit" id="btnSave" class="btn  btn-success" />
                                <button type="reset" class="btn btn-warning">Cancel</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script>
        $(document).ready(function () {
            $('#example').DataTable();
        });

        $('#btnSave').click(function (e) {
            if ($('#CategoryForm').valid()) {
                e.preventDefault()
            }
        })
    </script>
}
